@page
@model WormCat.Razor.Pages.Search.IndexModel

@using Microsoft.AspNetCore.Http.Extensions
@using WormCat.Library.Utility
@inject IAuthDisplayUtility authDisplayUtility;
@inject IRecordUtility recordUtility;

@{
    ViewData["Title"] = "Search";

    // Auto submit sort form when dropdown value changes
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("selectSort").addEventListener("change", (e) => {
                document.getElementById("formSort").submit();
            });
        });
    </script>
}

@* Header Bar *@
<div class="container">
    <div class="row">
        <div class="col-auto">
            <h2>Search Results</h2>
        </div>

        <div class="col-auto ml-auto">
            <form method="get" id="formSort" class="d-flex flex-display-row align-items-end mb-0">
                <label class="control-label mr-3">Sort</label>
                <select id="selectSort" asp-for="@Model.Sort" class="form-control" asp-items="@Model.SortOptions"></select>
                <input type="hidden" asp-for="query" value="@Model.query" />
            </form>
        </div>
    </div>
</div>

@* Result View *@
<div class="container">

    @if (Model?.Records?.Count <= 0)
    {
        if (string.IsNullOrWhiteSpace(Model.query) == false)
        {
            <p class="text-muted">No Results Found. <a asp-page="/Records/Create" asp-page-handler="CreateFromSearchQuery" asp-route-query="@Model.query">Add a new record?</a></p>
        }
        else
        {
            <p class="text-muted">You haven't added any Records yet. <a asp-page="/Records/Create" asp-route-fromSearchQuery="@Model.query">Add a new record?</a></p>
        }
    }

    <div class="container pt-2">
        @for (int i = 0; i < Model.Records.Count; i++)
        {
            <div class="row mb-2 ">
                <div class="card col" style="">
                    <div class="row g-0">
                        <div class="col-sm-4 col-md-2 p-md-0 pr-sm-0 text-center align-items-center justify-content-center d-none d-sm-flex">
                            <a asp-page="/Records/Details" asp-route-id="@Model.Records[i].Id">
                                <img src="data:image/jpg;base64, @recordUtility.GetRecordBase64Image(Model.Records[i])" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-2 pl-0 pr-0  text-center align-items-center justify-content-center d-sm-none" style="max-height:10rem; overflow:hidden">
                            <a asp-page="/Records/Details" asp-route-id="@Model.Records[i].Id">
                                <img src="data:image/jpg;base64, @recordUtility.GetRecordBase64Image(Model.Records[i])" class="img-fluid rounded-start" alt="...">
                            </a>
                        </div>
                        <div class="col-sm-8 col-md-6 pl-sm-0">
                            <div class="card-body pl-0 pr-0 pr-sm-3 pl-sm-3">
                                <h5 class="card-title">
                                    <a asp-page="/Records/Details" asp-route-id="@Model.Records[i].Id" class="text-secondary link-unstyled-col">
                                        <div class="row w-100 m-0">
                                            @Model.Records[i].Title
                                        </div>
                                        <div class="row w-100 m-0">
                                            <h6 class="d-inline text-muted">by @Model.Records[i].Author</h6>
                                        </div>
                                    </a>
                                </h5>
                                <p class="card-text">
                                    @Model.Records[i].Synopsis.Substring(0, Math.Min(Model.Records[i].Synopsis.Length, 250)) @if (Model.Records[i].Synopsis.Length > 250)
                                    {
                                        <span><b>...</b></span>
                                    }
                                </p>
                                @if (recordUtility.RecordHasAvailableCopy(Model.Records[i]))
                                {
                                    @if (recordUtility.GetRecordUniqueContainers(Model.Records[i]).Count() > 1)
                                    {
                                        <p class="card-text text-muted">
                                            Available in [<a asp-page="/Containers/Details" asp-route-id="@recordUtility.GetRecordFirstContainer(Model.Records[i]).Id">@recordUtility.GetRecordFirstContainer(Model.Records[i]).Name</a>, and more..]
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="card-text text-muted">
                                            Available in [<a asp-page="/Containers/Details" asp-route-id="@recordUtility.GetRecordFirstContainer(Model.Records[i]).Id">@recordUtility.GetRecordFirstContainer(Model.Records[i]).Name</a>]
                                        </p>
                                    }
                                }
                                else
                                {
                                    <p class="card-text text-danger">Not available</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-4 mb-3 mt-3 d-flex align-content-center">
                            <div class="justify-content-center d-flex flex-column align-items-center h-auto w-100">
                                <a asp-page="/Records/Details" asp-route-id="@Model.Records[i].Id" class="btn btn-primary mb-2 w-100">View</a>
                                <a asp-page="/Records/Edit" asp-route-id="@Model.Records[i].Id" class="btn btn-secondary @authDisplayUtility.CSSAuthDisabled  mb-2 w-100 d-flex align-items-center justify-content-center">
                                    @if (User?.Identity?.IsAuthenticated == false)
                                    {
                                        <i class="fa-solid fa-lock mr-2 ml-n2"></i>
                                    }
                                    <span>Edit</span>
                                </a>

                                <form method="post" asp-page="/Records/Delete" asp-route-id="@Model.Records[i].Id" class="w-100 mb-0">
                                    <button type="submit" class="btn btn-secondary @authDisplayUtility.CSSAuthDisabled w-100 d-flex align-items-center justify-content-center" value="Delete">
                                        @if (User?.Identity?.IsAuthenticated == false)
                                        {
                                            <i class="fa-solid fa-lock mr-2 ml-n2"></i>
                                        }
                                        <span>Delete</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
