@page
@model WormCat.Razor.Pages.Records.DetailsModel

@using WormCat.Library.Services
@using WormCat.Library.Services.Interfaces
@inject IAuthDisplayService authDisplayUtility;
@inject IRecordUtility recordUtility;

@{
    ViewData["Title"] = Model.Record.Title;


    var queryParams = new Dictionary<string, string>
    {
        { "record", Model.Record.Id.ToString() },
    };

    var x = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="d-inline">
                @Model.Record.Title
            </h2>
            @if (Model.Record.Author != null)
            {
                <h6 class="d-inline fs-2 text-muted">  by @Model.Record.Author</h6>
            }
        </div>
    </div>
</div>

<div class="container pt-2">
    <div class="row mb-2 ">

        @* Image and Edit Record *@
        <div class="col-sm-3 text-center pl-3 pr-3">
            <img src="data:image/jpg;base64, @recordUtility.GetRecordBase64Image(Model.Record)" class="img-fluid rounded-start pt-2 pb-2" alt="..." style="">

            <a asp-page="/Records/Edit" asp-route-id="@Model.Record.Id" class="mb-2 btn btn-secondary @authDisplayUtility.CSSAuthDisabled w-100 d-flex align-items-center justify-content-center">
                @if (User?.Identity?.IsAuthenticated == false)
                {
                    <i class="fa-solid fa-lock mr-2 ml-n2"></i>
                }
                <span>Edit</span>
            </a>
            <form method="post" asp-page="/Records/Delete" asp-route-id="@Model.Record.Id">
                <button type="submit" class="btn btn-secondary @authDisplayUtility.CSSAuthDisabled w-100 d-flex align-items-center justify-content-center" value="Delete">
                    @if (User?.Identity?.IsAuthenticated == false)
                    {
                        <i class="fa-solid fa-lock mr-2 ml-n2"></i>
                    }
                    <span>Delete</span>
                </button>
            </form>
        </div>

        @* Card Info & Copies *@
        <div class="col-sm-9 flex-column align-items-start d-flex mt-2 mb-2">

            @* <h2></h2> *@
            <p>@Model.Record.Synopsis</p>

            @* Metadata *@
            <div class="">
                @if (Model.Record.ISBN != null)
                {
                    <div class="mb-2">
                        <div class="text-dark">ISBN</div>
                        <div class="">@(Model.Record.ISBN)</div>
                    </div>
                }

                @if (Model.Record.PageCount != 0 && Model.Record.PageCount != -1)
                {
                    <div class="mb-2">
                        <div class="text-dark">Pages</div>
                        <div class="">@(Model.Record.PageCount.ToString())</div>
                    </div>
                }

                @if (Model.Record.PublicationDate != null)
                {
                    <div class="mb-2">
                        <div class="text-dark">Publication Date</div>
                        <div class="">@(Model.Record.PublicationDate)</div>
                    </div>
                }
            </div>

            <br />

            <div class="row w-100">
                <div class="col">
                    <h5 class="text-primary">Copies</h5>
                </div>
                <div class="col-auto pr-0">
                    <a asp-page-handler="CreateNewCopy" asp-route-id="@Model.Record.Id" class="btn btn-primary @authDisplayUtility.CSSAuthDisabled ml-2 mr-2 w-100 d-flex align-items-center justify-content-center">
                        @if (User?.Identity?.IsAuthenticated == false)
                        {
                            <i class="fa-solid fa-lock mr-2 ml-n2"></i>
                        }
                        <span>New Copy</span>
                    </a>
                </div>
            </div>
            @if (Model.Record.Books.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Record.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Record.Books[0].OwnerId)
                            </th>
                            <th>
                                Availability
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Record.Books)
                        {
                            x++;

                            if (item == null) continue;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Record.Title)
                                </td>
                                <td>
                                    @if (string.IsNullOrWhiteSpace(item.OwnerId) == false)
                                    {
                                        @Html.DisplayFor(modelItem => item.OwnerId)
                                        ;
                                    }
                                    else
                                    {
                                        <span>No Owner</span>
                                    }
                                </td>
                                <td>
                                    @if (item.OnLoan)
                                    {
                                        <p class="card-text text-danger">On Loan</p>
                                    }
                                    else if (item.Container != null)
                                    {
                                        <p class="card-text text-muted">Available in [<a asp-page="/Containers/Details" asp-route-id="@item.Container.Id">@item.Container.Name</a>]</p>
                                    }
                                    else
                                    {
                                        <p class="card-text text-danger">No copies</p>
                                    }
                                </td>
                                <td class="d-flex">
                                    <a asp-page="/Books/Edit" asp-route-id="@item.Id" class="btn btn-secondary w-100 position-relative @authDisplayUtility.CSSAuthDisabled">
                                        <i class="fa-solid fa-pen-to-square"></i>

                                        @if (User?.Identity?.IsAuthenticated == false)
                                        {
                                            <i class="fa-solid fa-lock mr-2 ml-n2 position-absolute btn btn-secondary" style="font-size:0.8rem; padding:5px; border-radius:100%; right:5px; top:5px; transform: translate(100%, -50%);"></i>
                                        }

                                    </a>
                                </td>
                                <td>
                                    <form method="post" asp-page="/Books/Delete" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-secondary @authDisplayUtility.CSSAuthDisabled position-relative w-100" value="Delete">

                                            <i class="fa-solid fa-trash"></i>
                                            @if (User?.Identity?.IsAuthenticated == false)
                                            {
                                                <i class="fa-solid fa-lock mr-2 ml-n2 position-absolute btn btn-secondary" style="font-size:0.8rem; padding:5px; border-radius:100%; right:5px; top:5px; transform: translate(100%, -50%);"></i>
                                            }
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-danger">No copies available</p>
            }
        </div>
    </div>
</div>